<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <h1>Feeds</h1>
  <% for (let i = 0; i < feeds.length; i++) { %>
    <div class="card" style="width: 18rem;">
      <img src="<%= feeds[i].image_url %>" class="card-img-top" alt="..." width="100" height="100">
      <div class="card-body">
        <h5 class="card-title"><%= feeds[i].title %></h5>
        <p class="card-text"><%= feeds[i].description %></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  <% } %>
</body>

</html>
