<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Keegeegee - Buy/Sell</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&family=Spectral:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet">

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/users.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    
    <%- include('partials/_header') %>

    <h1>Publish a new feed.</h1>
    <div class="container-fluid">
      <form action="/api/feeds/new" method="post" id="newFeedForm" name="newFeedForm" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="feedTitle" class="form-label">Title:&nbsp;</label>
          <input type="text" class="form-control" id="feedTitle" name="feedTitle" aria-describedby="titleHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="feedPrice" class="form-label">Price:&nbsp;</label>
          <input type="text" class="form-control" id="feedPrice" name="feedPrice">
        </div>
        <div class="mb-3">
          <label for="feedImage" class="form-label">Image:&nbsp;</label>
          <input type="file" class="form-control" id="feedImage" name="feedImage">
        </div>
        <div class="mb-3">
          <label for="feedDesc" class="form-label">Description:&nbsp;</label>
          <textarea class="form-control" aria-label="With textarea" id="feedDesc" name="feedDesc"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-warning">Reset</button>
      </form>
    </div>
  </body>

</html>