<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/login.css" />
  <link rel="stylesheet" href="/styles/register.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <div class="register-container">
      <div class="register-left-page">
        <h1>Welcome to KeeGeeGee!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <img>
    </div>

    <div>
      <div class="register-header">
        <h2>Create your account</h2>
        <span>It's free and easy!</span>
      </div>
      <form method="POST" action="/register" class="register-right-page">

        <label class="register-title">Username:</label>
        <input class="register-input" type="text" name="username" placeholder="Create a username" required>

        <div class="phone-input">
          <label class="register-title">Phone Number:</label>
          <input class="register-input" type="text" name="phone_number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Type your phone number" required>
          <span id="phone-number-input">*Format: xxx-xxx-xxxx (numbers only)</span>
        </div >

        <label class="register-title">Email:</label>
        <input class="register-input" type="email" name="email" placeholder="Type your email" required>

        <label class="register-title">Enter Password:</label>
        <input class="register-input" type="password" name="password" placeholder="Type your password" required>


        <button class="submit-btn">Submit</button>
        <p>Already have an account? <a href="/login" class="sign-in">Sign In!</a></p>
      </form>
    </div>
  </div>

  </body>

</html>
