body {
  font-family: sans-serif;
}
.container {
  width: 100%;
  margin: auto;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.header {
  width: 100%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.header h1 {
  flex-grow: 1;
  text-align: center;
  color: black;
}

select {
  margin-left: auto; /* This will push 'sort by' drop-box to the right */
  color: gray;
  padding: 3px;
  border: 1px solid #ccc;
}
.card {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 15px;
  background-color: white;
  overflow: hidden;
}
.card-image-container {
  width: 30%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
.card-info-container {
  flex-grow: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.card-info {
  padding: 10px;
  background-color: white;
  margin: 5px;
}

.title-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  flex-grow: 1;
}

.date-icons {
  font-size: small;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: gray;
}

/* .icons {

} */

.status {
  font-size: 0.8em;
  padding: 2px 8px;
  border-radius: 5px;
  color: white;
  text-transform: capitalize; /* Capitalize the status text */
}

.status.sold {
  background-color: #d9534f; /* Red color for 'sold' status */
}

.status.available {
  background-color: #5cb85c; /* Green color for 'available' status */
}

.btn-load-more {
  display: block;
  width: 20%;
  padding: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  cursor: pointer;
  border-radius: 20px;
}

.delete-button {
  color: #d9534f;
  border: none;
  background-color: transparent;
}