.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

#feed-title {
  margin-top: 1rem;
  text-align: center;
}

#searchBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  margin-top: 1rem;
}

.price-search {
  display: flex;
  flex-direction: row;
}

#searchForm {
  background-color: #669880;
  padding: 1rem;
  height: 10vh;
  margin-bottom: 2rem;
  border-radius: 7px;
}

#searchBtn {
  background-color: white;
  border: 1px solid #dee2e6;
}


.card {
  flex: 1 0 auto;
  flex-wrap: wrap;
  min-height: 100vh;

}

.card-icon {
  color: #669880;
}

.card-icon:hover {
  opacity: 80%;
  color: #e07a5f;
}

.favourite-icon {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.fa-heart {
  color: #e07a5f;
}

.fa-heart:hover {
  opacity: 80%;
}


#sold-btn {
  background-color: #669880;
  color: #fffbf9;
  border-radius: 30px;
}

#delete-btn {
  color: #8f8f8f;
}