.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-left-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
  background-color: #353945;
  color: #FFFFFF;
  padding: 4rem;
  text-align: center;
}

.login-right-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 50vw;
}

.submit-btn {
  margin-top: 2rem;
  border: none;
  border-radius: 30px;
  width: 30vw;
  background-color: #141416;
  color: #FFFFFF;
  padding: 0.5rem;
}

.login-title {
  width: 30vw;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.login-input {
  width: 30vw;
  height: 2rem;
  background-color: #EDF2F7;
  border: none;
  padding-left: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.register-link {
  font-weight: bold;
}

a:visited {
  color: #141416;
  text-decoration: none;
}