body {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('/images/new-feed.jpg') !important;
  background-size: cover !important;
}

.nl-container {
  background-color: #f8f0eb;
  border-radius: 5px;
  width: 60vw;
  padding: 2rem;
  margin: 3rem auto;
  box-shadow: 0 0 5px #afaaa6;
}

.nl-title {
  text-align: center;
}

.form-label {
  font-weight: bold;
  font-size: large;
}

.nl-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#submit-btn {
  background-color: #e07a5f;
  color: #fffcfa;
  border-radius: 30px;
  width: 6rem;
  margin: 1rem 0.5rem 0 0.5rem;
}

#reset-btn {
  background-color: #81b29a;
  color: #fffcfa;
  border-radius: 30px;
  width: 6rem;
  margin: 1rem 0.5rem 0 0.5rem;
}