.register-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.register-left-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
  background-color: #353945;
  color: #FFFFFF;
  padding: 4rem;
  text-align: center;
}

.register-right-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.phone-input {
  display: flex;
  flex-direction: column;
}

#phone-number-input {
font-size: small;
text-align: right;
}

.register-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.submit-btn {
  margin-top: 2rem;
  border: none;
  border-radius: 30px;
  width: 30vw;
  background-color: #141416;
  color: #FFFFFF;
  padding: 0.5rem;
}

.register-title {
  width: 30vw;
  margin: 0.5rem 0;
  font-weight: bold;
}

.register-input {
  width: 30vw;
  height: 2rem;
  background-color: #EDF2F7;
  border: none;
  padding-left: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.sign-in {
  font-weight: bold;
}